#container-countdown {
    display: flex;
    justify-content: center;
}


#countdown {
    background: linear-gradient(to right, #98e4c4, #0b4e7a);
    opacity: 0.9;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 180px;
    text-align: center;
    font-size: 60px;
    padding: 30px;
    border-radius: 20px;
    font-variant-numeric: tabular-nums;
    font-family: Roboto, monospace;
}

#myVideo {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
}